/* ---- بخش هیرو ---- */
.hero-section {
    margin-top: 20px;
}


.hero-container {
    background: url(../img/front-page/hero-back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0 88px;
    color: #fff;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.hero-content {
    flex: 1;
    max-width: 55%;
    z-index: 2;
}

.hero-buttons .btn-yellow {
    width: 182px;
}
#particle-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.categories-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto));
    gap: 15px;
}

.instructors-carousel {
    display: flex;
    gap: 20px;
}

.categories-section .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}

.hero-content h1 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 950;
    text-align: center;
}

.highlight {
    color: var(--accent-yellow) !important;
}

.hero-content p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--text-color-wh);
    margin-bottom: 32px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 16px;

    justify-content: center;
}




.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
}

.image-placeholder {
    width: 300px;
    height: 350px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* ---- دسته بندی دوره ها ---- */
.categories-section {
    padding: 60px 0;
    text-align: center;
}

.webinar-section .view-all-link {
    padding: 0 0 0 14px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-dark);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.webinar-section .container {
    position: relative;
    background-color: transparent;
    padding: 20px 24px 24px 0;
    border-radius: 14px;
    z-index: 0;
}

.courses-slider-section .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: radial-gradient(98.06% 171.94% at 50% 50%, #AA87FF 0%, #3856DB 100%);
    border-radius: 20px;
}

.webinar-section .container {
    position: relative;
    overflow: hidden;
    background-color: transparent;

}


.webinar-section .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: #e6dfff;
    border-radius: 14px;
    -webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201300%20400%22%3E%3Cpath%20d%3D%22M0%2C0H1300A0%2C0%200%2C0%2C1%201300%2C0V400A0%2C0%200%2C0%2C1%201300%2C400H419A10%2C10%200%2C0%2C1%20409%2C390V342A10%2C10%200%2C0%2C0%20399%2C332H10A10%2C10%200%2C0%2C1%200%2C322V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom left / cover;
    mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201300%20400%22%3E%3Cpath%20d%3D%22M0%2C0H1300A0%2C0%200%2C0%2C1%201300%2C0V400A0%2C0%200%2C0%2C1%201300%2C400H419A10%2C10%200%2C0%2C1%20409%2C390V342A10%2C10%200%2C0%2C0%20399%2C332H10A10%2C10%200%2C0%2C1%200%2C322V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom left / cover;

}

.webinar-section h2 {
    margin: 0;
}

.category-card {
    background: var(--text-color-wh);
    border-radius: 12px;
    padding: 26px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 7px 0px #B2B2B20D;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.category-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.cat-icon {
    width: 64px;
    height: 64px;
    padding: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 1px 2.9px 0px #F3F3F3;
}

.category-card span {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-bl);
    line-height: 20px;
}

.hero-image img {
    width: 100%;
}








/* ---- بخش وبینار ---- */
.webinar-section {
    padding: 0px 0 48px 0;
}

/* پس زمینه خاکستری خیلی روشن در صورت نیاز */

.webinar-card {
    display: flex;
    border-radius: 16px;
    gap: 14px;
    align-items: center;
    margin: 24px 0 0;
}

.webinar-image .image-placeholder {
    width: 350px;
    height: 250px;
    background: #e2e8f0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64748b;
}

.webinar-details {
    flex: 1;
}

.webinar-details h3 {
    font-size: 16px;
    color: var(--text-color-bl);
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 600;
    padding: 0 0 0 24px;
}

.webinar-details p {
    font-weight: 400;
    color: var(--text-color-bl);
    font-size: 14px;
    padding: 0 0 0 24px;
}

.countdown-timer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px 0;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-white);
    padding: 8px 14px;
    border-radius: 8px;
    min-width: 57px;
    color: var(--text-color-bl);
}

.time-number {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-bl);
}

.time-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: var(--text-color-bl);
}

.colon {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.webinar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.webinar-price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-dark);
}

.price-currency {
    color: #000;
    font-size: 0.9rem;
}

.webinar-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    transform: translate(0, 21px);
    position: absolute;
    left: 0;
    width: 30%;
}







/* ---- بخش اساتید (کارت‌های افقی جدید در اسلایدر) ---- */
#instructors-section {
    padding: 32px 0;
}

.instructor-card-horizontal {
    display: flex;
    align-items: center;
    gap: 36px;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 16px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instructor-image-wrapper img {
    margin-top: -96px;
}

.instructor-card-horizontal:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

.instructor-info {
    flex: 1;
    padding-left: 20px;
    text-align: right;
}

.instructor-name {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.instructor-subtitle {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 16px;
}

.instructor-desc {
    font-size: 13px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.instructor-link {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: color 0.2s;
    line-height: 26px;
}

.instructor-link .chevron-icon svg {
    width: 16px;
}

.instructor-link:hover {
    color: #4157B8;
}

.chevron-icon {
    font-size: 20px;
    line-height: 1;
    margin-top: 2px;
}

/* تنظیمات تصویر و پس‌زمینه رنگی استاد */
.instructor-image-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.contanet-banner-show-courses::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    z-index: -1;
    background: radial-gradient(49.96% 107.37% at 105.2% 50%, #082B4C 0%, #223794 100% 100%);
    -webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%2084%22%3E%3Cpath%20d%3D%22M0%2C0H273A0%2C0%200%2C0%2C1%20273%2C0V84A0%2C0%200%2C0%2C1%20273%2C84H49A4%2C4%200%2C0%2C1%2045%2C80V73A4%2C4%200%2C0%2C0%2041%2C69H4A4%2C4%200%2C0%2C1%200%2C65V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%2084%22%3E%3Cpath%20d%3D%22M0%2C0H273A0%2C0%200%2C0%2C1%20273%2C0V84A0%2C0%200%2C0%2C1%20273%2C84H49A4%2C4%200%2C0%2C1%2045%2C80V73A4%2C4%200%2C0%2C0%2041%2C69H4A4%2C4%200%2C0%2C1%200%2C65V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom / cover;
}


/* ---- بخش مراحل یادگیری ---- */
.learning-steps-section {

    overflow: hidden;
}

.learning-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* اطلاعات سمت راست */
.learning-info {
    width: 25%;
    text-align: center;
    flex-shrink: 0;
}

.learning-info .section-title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}


.learning-desc {
    font-size: 16px;
    line-height: 26px;
    color: #000;
    font-weight: 400;
}

/* تایم لاین سمت چپ */
.learning-timeline {
    width: 75%;
    position: relative;
    height: auto;
    min-height: 250px;
    /* ارتفاع کافی برای موج‌ها */
}

.wave-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.steps-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    padding: 0px 26px;
    justify-content: start;
    flex-direction: row-reverse;
    background-image: url(../img/front-page/wave.svg);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
}

.step-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    gap: 4px;
}

/* تنظیم موقعیت آیتم‌های بالا و پایین موج */
/* .step-top {
    justify-content: flex-end;
    transform: translateY(-55px);
} */

.step-item.step-bottom {
    flex-direction: row;
}

.step-content {
    text-align: center;
}

.step-number {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}

.step-content p {
    font-size: 12px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
}

.step-bottom .step-content {
    margin-top: 50px;
}

.step-top .step-content {
    margin-bottom: 20px;
}

/* دایره‌های آبی حاوی آیکون */
.step-node {
    width: 49px;
    height: 49px;
    margin-right: 6px;
    padding: 12px;
    background: #1C44C6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(28, 68, 198, 0.2);
    border: 3px solid #fff;
    position: relative;
    z-index: 3;
}

.step-icon {
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
    /* سفید کردن آیکون در صورت نیاز */
}

/* رسپانسیو */
@media (max-width: 1200px) {
    .learning-wrapper {
        flex-direction: column;
    }

    .learning-info {
        width: 100%;
        margin-bottom: 40px;
    }

    .learning-timeline {
        width: 100%;
    }
}





/* ---- بخش دوره های آموزشی (طرح اسلایدر یکپارچه) ---- */
.courses-slider-section {
    padding: 60px 0;
}

.courses-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

/* سایدبار سمت راست */
.courses-sidebar {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.courses-title {
    color: var(--text-color-wh);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 14px;
}

.slider-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.slider-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.slider-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.view-all-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color-bl);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

#instructors-section .section-header {
    margin-bottom: 56px;
}

.view-all-link svg {
    padding: 2px;
}

/* تبدیل استیج اسلایدر به فلکس برای هم‌تراز شدن ارتفاع اسلایدها */
#reviews-carousel .owl-stage {
    display: flex;
    align-items: stretch;
}

/* نمایش فلکس برای هر آیتم جهت پر کردن فضای ارتفاع */
#reviews-carousel .owl-item {
    display: flex;
}

/* تنظیم ارتفاع کارت‌ها روی 100 درصد تا فضای خالی را پر کنند */
#reviews-carousel .review-card-pro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* در صورت نیاز به فاصله یکسان در پایین می‌توانید از space-between استفاده کنید */
}

/* ترک (اسلایدر) کارت‌ها */
.courses-track {
    flex: 1;
    /* حذف flex و overflow و gap دستی چون Owl مدیریت می‌کند */
    width: 100%;
    overflow: hidden;
}

#courses-slider .owl-stage {
    display: flex;
    align-items: stretch;
}

/* مخفی کردن اسکرول‌بار در مرورگرها */
.courses-track::-webkit-scrollbar {
    height: 5px;
}

.courses-track::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.courses-track::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/* استایل کارت دوره */
.course-card-pro {
    background: #ffffff;
    border-radius: 16px;
    /* width و min-width حذف شد تا اسلایدر سایز را تنظیم کند */
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* برای هم‌اندازه شدن کارت‌ها */
}

.card-image-box {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}
.owl-item .card-image-box  img {
    object-fit: cover;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-teacher {
    font-size: 12px;
    color: var(--text-color-bl);
    margin-bottom: 15px;
    text-align: right;
    font-weight: 400;
}

/* تگ‌های دسته‌بندی رنگی */
.card-tags {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tag {
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 12px;
    color: var(--text-color-bl);
    font-weight: 400;
}

.tag:nth-child(2n) {
    background-color: #BDAAFF;
}

.tag:nth-child(2n+1) {
    background-color: #FFEAC6;
}

/* بخش قیمت */
.card-price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    flex-direction: row-reverse;
}

.price-current {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    /* استفاده از فونت اعداد فارسی */
}

.price-current span {
    font-size: 12px;
    font-weight: 400;
}

.price-old {
    font-size: 14px;
    color: #696969;
    text-decoration: line-through;
    font-weight: 400;
}

/* رسپانسیو */
@media (max-width: 992px) {
    .courses-wrapper {
        flex-direction: column;
    }

    .courses-sidebar {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex: auto;
        padding: 0 10px 0 0;
    }

    .courses-title {
        margin-bottom: 0;
    }

    .slider-controls {
        margin-bottom: 0;
    }
}








/* ---- بخش نظرات کاربران (طرح جدید) ---- */
.reviews-section-pro {
    padding: 24px 0;
}

.reviews-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* سایدبار راست (متن و دکمه‌ها) */
.reviews-sidebar {
    flex: 0 0 350px;
    text-align: center;
}

.reviews-title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.reviews-subtitle {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-bl);
    margin-bottom: 30px;
    font-weight: 500;
}

.reviews-slider-controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: 20px;
}

div#articles-carousel {
    margin-top: 32px;
}

.review-btn {
    width: 26px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.review-btn:hover {
    background: #f3f4f6;
}

/* کانتینر اسلایدر چپ */
.reviews-slider-container {
    flex: 1;
    overflow: hidden;
    /* ضروری برای جلوگیری از بیرون زدگی Owl Carousel */
    max-width: 100%;
}

/* کارت نظرات */
.review-card-pro {
    background: var(--bg-white);
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 20px 25px 24px;
    position: relative;
}

/* خط آبی کوچک در لبه سمت راست کارت (طبق طرح) */
.review-card-pro::before {
    content: "";
    position: absolute;
    right: -1px;
    top: 30px;
    height: 45px;
    width: 4px;
    background: #6A40FF;
    border-radius: 4px 0 0 4px;
}

.rc-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.rc-quote-light {
    font-size: 70px;
    color: #F3F4F6;
    line-height: 0.8;
    font-family: Georgia, serif;
}

.rc-user {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}

.rc-user-info {
    text-align: right;
}

.rc-user-info h4 {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.rc-user-info span {
    font-size: 12px;
    color: #888;
}

.rc-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 14px;
}

/* آواتار بنفش */
.rc-avatar {
    min-width: 70px;
    min-height: 70px;
    aspect-ratio: 1 / 1;
    width: 70px;
    height: 71px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(180deg, #BDA3FE 0%, #3856DB 138.18%);
}


.rc-quote-dark {
    text-align: right;
    font-size: 45px;
    color: #1E3A8A;
    line-height: 0.5;
    margin-bottom: 15px;
    font-family: Georgia, serif;
}

.rc-text {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    font-weight: 400;
    color: var(--text-color-bl);
}

/* رسپانسیو */
@media (max-width: 992px) {
    .reviews-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .reviews-sidebar {
        flex: auto;
        max-width: 100%;
    }
}







/* ---- بخش مقالات ---- */
.articles-section {
    padding: 32px 0 0 0;
    background: #f8fafc;
}

/* کلاس .articles-grid حذف شد چون جای خود را به اسلایدر داد */

.article-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    /* جایگزین متغیر --border-color */
}

.article-image {
    padding: 12px;
}

.articles-section .section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--text-color-bl);
}

.article-content {
    padding: 20px;
    text-align: right;
}

.article-content h3 {
    font-size: 14px;
    color: var(--text-color-bl);
    margin-bottom: 8px;
    line-height: 22px;
    height: 44px;
}

.article-content p {
    color: var(--text-color-bl);
    font-size: 12px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more {
    color: #0A3762;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
}








/* بخش استایل‌های بنر دوره */
.banner-show-courses {
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    max-width: 1400px;
}

.contanet-banner-show-courses {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    min-height: 230px;
}

.webinar-actions button {
    padding: 14px 12px;
    width: 100%;

}

/* تنظیمات تصویر شخصی (طرح دانشجو) */
.contanet-banner-show-courses img {
    position: absolute;
    right: 154px;
    bottom: 3px;
    height: 218px;
    z-index: 2;
    object-fit: contain;
}

/* تنظیمات متن وسط بنر */
.contanet-banner-show-courses span {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    z-index: 2;
}

/* استایل کلماتی که تمایل دارید مثل عکس نارنجی متمایز شوند */
.contanet-banner-show-courses span strong,
.contanet-banner-show-courses span b {
    color: #f89a00;
    font-weight: 600;
}

/* ۲. اعمال ماسک جدید روی شبه‌المان before مشابه نمونه خودتان */
/* .contanet-banner-show-courses::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #1b2e69 0%, #21377d 50%, #253b87 100%);
    border-radius: 14px;
    z-index: -1;
    clip-path: path("M0,0H1300A0,0 0,0,1 1300,0V230A0,0 0,0,1 1300,230H220A10,10 0,0,1 210,220V178A10,10 0,0,0 200,168H10A10,10 0,0,1 0,158V0A0,0 0,0,1 0,0Z");
} */
/* تنظیمات دقیق دکمه روی بریدگی */
.contanet-banner-show-courses button,
.contanet-banner-show-courses a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 52px;
    background-color: #f89a00;
    color: #000000;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

/* افکت هاور دکمه */
.contanet-banner-show-courses button:hover,
.contanet-banner-show-courses a:hover {
    background: #FFAC1C;

}

@media (max-width: 1200px) {
    .webinar-card {
        flex-direction: column;
    }

    .webinar-image img {
        width: 100%;
    }

    .webinar-image {
        width: 100%;
    }

    .webinar-section .container {
        padding: 16px;
    }

    .instructors-carousel {
        flex-direction: column;
    }

    .webinar-section .container::before {
        -webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20100%22%3E%3Cpath%20d%3D%22M0%2C0H300A0%2C0%200%2C0%2C1%20300%2C0V100A0%2C0%200%2C0%2C1%20300%2C100H42A2%2C2%200%2C0%2C1%2040%2C98V93A2%2C2%200%2C0%2C0%2038%2C91H2A2%2C2%200%2C0%2C1%200%2C89V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
        mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20100%22%3E%3Cpath%20d%3D%22M0%2C0H300A0%2C0%200%2C0%2C1%20300%2C0V100A0%2C0%200%2C0%2C1%20300%2C100H42A2%2C2%200%2C0%2C1%2040%2C98V93A2%2C2%200%2C0%2C0%2038%2C91H2A2%2C2%200%2C0%2C1%200%2C89V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom left / cover;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 24px 16px 0 16px;
    }

    .hero-content {
        max-width: 100%;
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content p {
        width: 55%;
    }

    .webinar-actions {
        transform: translate(0, 0);
    }

    .contanet-banner-show-courses button,
    .contanet-banner-show-courses a {
        width: 16%;
    }

    .contanet-banner-show-courses span {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        line-height: 38px;
    }

    .webinar-actions button {
        font-size: 14px;
    }
}

@media (max-width: 880px) {
    .webinar-actions {
        transform: translate(0, 4px);
        width: 36%;
    }

    .step-node {
        margin-right: 0;
    }

    .step-item.step-bottom {
        flex-direction: column;
    }

    .webinar-actions button {
        font-size: 14px;
        width: 121px;
        white-space: nowrap;
    }

    .steps-row {
        background-image: unset;

        position: relative;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 0 12px 0;
    }

    .step-bottom .step-content {
        margin-top: 0;
        padding-left: 25px;
        padding-right: 0;
    }

    .contanet-banner-show-courses {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 14px;
        position: relative;
        z-index: 1;
        min-height: 318px;
        padding: 44px 30px;
    }

    .step-item {
        flex-direction: column-reverse;
    }

    .contanet-banner-show-courses button , .contanet-banner-show-courses a {
        width: 117px;
        font-size: 14px;
        padding: 4px;
        height: 38px;
        white-space: nowrap;
    }

    .contanet-banner-show-courses::before {
        z-index: -1;
        -webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%2084%22%3E%3Cpath%20d%3D%22M0%2C0H273A0%2C0%200%2C0%2C1%20273%2C0V84A0%2C0%200%2C0%2C1%20273%2C84H36A4%2C4%200%2C0%2C1%2032%2C80V77A4%2C4%200%2C0%2C0%2028%2C73H4A4%2C4%200%2C0%2C1%200%2C69V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom left / cover;
        mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%2084%22%3E%3Cpath%20d%3D%22M0%2C0H273A0%2C0%200%2C0%2C1%20273%2C0V84A0%2C0%200%2C0%2C1%20273%2C84H36A4%2C4%200%2C0%2C1%2032%2C80V77A4%2C4%200%2C0%2C0%2028%2C73H4A4%2C4%200%2C0%2C1%200%2C69V0A0%2C0%200%2C0%2C1%200%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat bottom left / cover;
    }

}

/* ریسپانسیو سازی برای نمایش بی‌نقص در موبایل */
@media (max-width: 768px) {
    .contanet-banner-show-courses img {
        top: unset;
        right: 10px;
        height: 146px;
        bottom: 26px;
    }

    .contanet-banner-show-courses::after {
        top: 80px;
        right: 50%;
        transform: translate(50%, -50%);
        width: 110px;
        height: 110px;
    }

    .categories-carousel {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, minmax(100px, auto));
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - 15px) / 1.5);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 5px 5px 15px 5px;
        scrollbar-width: none;
    }

    .categories-carousel::-webkit-scrollbar {
        display: none;
    }

    .category-card {
        scroll-snap-align: start;
    }

    .learning-timeline {
        height: auto;
    }

    .wave-line {
        display: none;
    }

    .step-content {
        text-align: right;
    }

    .step-item {
        width: 100%;
        transform: none !important;
        flex-direction: row;
        text-align: right;
        gap: 20px;
    }

    .step-top {
        flex-direction: row;
    }

    .step-node {
        order: 1;
        margin: 0;
    }

    .step-item.step-bottom {
        flex-direction: row-reverse;
    }


    .step-content {
        text-align: right;
        width: 40%;
    }
}

@media (max-width: 550px) {
    .webinar-actions {
        transform: translate(0, 6px);
        width: 240px;
        gap: 8px;
    }

    #articles-carousel .owl-nav {
        display: none;
    }

    .courses-title {

        font-size: 16px;
        font-weight: 600;
    }

    .reviews-subtitle {
        font-size: 14px;

        font-weight: 500;
        text-align: right;
    }

    .reviews-slider-controls,
    .slider-controls {
        display: none;
    }

    .learning-timeline {
        height: auto;
        max-width: 367px;
        margin-top: 60px;
    }

    /* .steps-row {
        gap: 0px;
        background-image: url(../img/front-page/steps-row-img.svg);
    } */

    .step-content {
        height: 112px;
        width: 44%;
        display: flex;
        align-items: center;
        gap: 8px;
        padding-right: 30px;
        flex-direction: column;

    }

    .step-top::before {
        content: '';
        background-image: url(../img/front-page/odd.svg);
        height: 165px;
        width: 165px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        pointer-events: none;
    }


    .step-bottom::before {
        content: '';
        background-image: url(../img/front-page/even.svg);
        height: 165px;
        width: 165px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        pointer-events: none;
    }

    .step-top:last-of-type::before {
        content: '';
        background-image: url(../img/front-page/first-even.svg) !important;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 230px;
        width: 280px;
        pointer-events: none;
    }

    .step-top:first-of-type::before {
        content: '';
        background-image: url(../img/front-page/lastodd.svg) !important;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 164px;
        width: 215px;
        pointer-events: none;
    }

    .step-top:first-of-type .step-content {
        transform: translate(7px, 15px);
    }

    .step-top:first-of-type .step-node {
        transform: translate(12px, -88px);
    }

    .step-top:last-of-type .step-node {
        transform: translate(7px, -60px);
    }

    .step-top:last-of-type .step-content {
        transform: translate(6px, 28px);
    }

    .step-item {

        gap: 0;
    }

    .step-top .step-node {
        transform: translate(9px, -84px);
    }

    .step-bottom .step-node {
        transform: translate(5px, -75px);
    }

    .webinar-actions button {
        font-size: 12px;
        padding: 12px 10px;
    }

    .hero-content h1 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 950;
    }

    .hero-content p {
        width: 100%;
        margin: 0 0 12px 0;
        font-size: 12px;
    }

    .hero-buttons .btn-yellow,
    .hero-buttons .btn-outline-white {
        font-size: 12px;
        padding: 12px;
        height: 40px;
        width: 136px;
        white-space: nowrap;
        text-align: center;
    }

    .hero-buttons svg {
        width: 20px;
    }

    .category-card {
        border-radius: 12px;
        padding: 26px 12px;
        gap: 15px;
    }

    .category-card span {
        font-size: 14px;
    }

    .categories-section {
        padding: 40px 0;
    }

    .section-title {
        font-size: 16px;
    }

    .view-all-link {
        font-size: 12px;
    }

    .webinar-section .view-all-link {
        padding: 0;
    }

    .webinar-details h3 {
        font-size: 14px;
        padding: 0 0 0 24px;
    }

    .time-box {
        padding: 6px 8px;
        min-width: 44px;
    }

    .countdown-timer {
        gap: 6px;
    }

    .categories-section .section-title {
        font-size: 16px;
    }

    .webinar-actions button {
        font-size: 12px;
        width: 99px;
        white-space: nowrap;
        height: 43px;
        transform: translate(0px, 5px);
    }

    .price-currency {
        font-size: 12px;
        transform: translate(19px, 10px);
    }

    .price-amount {
        font-size: 16px;
        transform: translate(9px, -8px);
    }

    .webinar-actions {
        transform: translate(0, -2px);
        width: 241px;
        gap: 8px;
    }

    .instructor-image-wrapper img {
        width: 150px;
        margin: 0;
    }

    .instructor-card-horizontal {
        padding: 15px 14px;
        gap: 12px;
    }

    .instructor-name {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .instructor-subtitle {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .instructor-desc {
        font-size: 12px;
        line-height: 21px;
        color: #555;
        margin-bottom: 12px;
    }

    .learning-info {
        width: 100%;
        margin-bottom: 8px;
        text-align: right;
    }

    .learning-info .section-title {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin-bottom: 12px;
    }

    .learning-desc {
        font-size: 14px;
    }

    .rc-user {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}